@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.D_About {
    margin: 0;
    width: 100%;
}

#root {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 1000px;
}

.D_Home {
    display: flex;
    flex-wrap: wrap;
    background: #FFFFFF;
    margin: 40px;
}

header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    justify-content: space-between;
}

/* .LOGO {
    width: 210.32px;
    height: 68px;
} */

nav {
    display: flex;

}

/* nav a {
    font-size: 21px;
    color: #FF6060;
    text-decoration: none;
} */

/* nav a:first-of-type {
    margin-right: 35px;
} */

nav a:hover {
    text-decoration: underline;
}


.D_About section {
    margin: 25px 0;
    border-radius: 25px;
    background-image: url('../Images/BackgroundAbout.png');
    border-radius: 25px;
    background-size: cover;
    background-position: 25%;
    background-repeat: no-repeat;
    width: 100%;
    height: 220px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Collapsible component */
.content {

    padding: 0.5rem;
    border-radius: 5px;
    background: #F7F7F7;

}

.content p {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    color: #FF6060;
}

.content-parent {
    max-height: 0px;
    overflow: hidden;
    transition: max-height ease 0.6s;
}

.content-show {
    width: 100%;
    max-height: 400px;
    overflow: hidden;
    transition: max-height ease 0.7s;
}

/* Collapsible component */
.about_body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about_body .collapseComponent {
    width: 80%;
    margin-bottom: 15px;
}

.about_body button {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #FFFFFF;
    border: none;
    font-weight: 500;
    font-size: 24px;
    width: 100%;
    height: 47px;
    background: #FF6060;
    border-radius: 5px;
}

.about_body button img {
    margin-right: 4px;
}

.arrow-parent {
    width: 14px;
    height: 23px;
    color: #FFFFFF;
    transform: rotate(90deg);
    transition: transform ease 0.7s;
}

.arrow-show {
    width: 14px;
    height: 23px;
    color: #FFFFFF;
    transform: rotate(-90deg);
    transition: transform ease 0.7s;
}

@media all and (max-width: 830px) {
    .about_body .collapseComponent {
        width: 100%;
    }

    .content p {
        font-size: 12px;
        font-weight: 400;
    }

    .D_About section {
        background-image: url('../Images/BackgroundAboutMobile.png');
        background-position: 0% 90%;
    }
}