@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.error {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.error h1 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 288px;
    line-height: 411px;
    margin-top: 100px;
    margin-bottom: 25px;
    color: #FF6060;

}

.error h2 {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 142.6%;
    /* or 51px */

    display: flex;
    align-items: flex-end;

    color: #FF6060;
}

.error a {
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    text-decoration-line: underline;
    color: #FF6060;
}

@media all and (max-width: 904px) {

    .error h1 {
        font-size: 96px;
        line-height: 137px;
    }

    .error h2 {
        font-size: 18px;
    }

    .error a {
        font-size: 14px;
        margin-top: 120px;
    }
}