.slider {
    width: 100%;
    height: 415px;
    margin-top: 20px;
    border-radius: 25px;
    background-position: 0%;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: stretch;
    align-items: center;
}

.D_Fiche_logement {
    width: 100%;
}

.arrow {
    margin: 10px;
}

.arrow:hover {
    cursor: pointer;
}

h1 {
    color: #FF6060;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
}

p {
    color: #FF6060;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
}

.D_Fiche_logement .description {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.D_Fiche_logement .title {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.host {
    display: flex;
}

.host p {
    display: flex;
    flex-wrap: wrap;
    margin-right: 15px;
}

.host img {
    border-radius: 50%;
}

.D_Fiche_logement .tags {
    display: flex;

}

.D_Fiche_logement .tags p {
    margin-right: 25px;
    background-color: #FF6060;
    color: #FFFFFF;
    border-radius: 10px;
    padding: 10px;
}

.D_Fiche_logement .details {
    display: flex;
    justify-content: space-between;
}

.D_Fiche_logement .details button {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    background: #FF6060;
    border-radius: 10px;
    color: #FFFFFF;
    width: 100%;
    border: none;
}

.D_Fiche_logement .details .collapseComponent {
    width: 40%;
}

.D_Fiche_logement .content p {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
}

.details .content .tags p {
    display: flex;
    flex-direction: column;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
}

.notes {
    display: flex;
    justify-content: space-between;
}

.rating {
    position: relative;
    top: 0px;
    left: 0px;
}

.rating .starColored,
.rating .starGrey {
    position: absolute;
    left: 100px;
    top: 150px;
    display: flex;
}

@media all and (max-width: 830px) {
    .arrow img {
        width: 22px;
        height: 34px;
    }

    .D_Fiche_logement {
        display: flex;
        flex-direction: column;
    }

    .D_Fiche_logement .description {
        flex-direction: column;
    }

    .D_Fiche_logement .description .tags {
        order: 2;
    }

    .D_Fiche_logement .description .details {
        order: 4;
    }

    .D_Fiche_logement .description .title {
        order: 1;
        display: flex;
        justify-content: space-between;
    }

    .D_Fiche_logement .description .notes {
        order: 3;
        width: 100%;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .rating {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }


    .rating .starColored,
    .rating .starGrey {
        top: 6px;
        left: 5px;
    }

    .D_Fiche_logement .title {
        flex-direction: column;
    }

    .D_Fiche_logement .details {
        flex-wrap: wrap;
    }

    .stars img {
        width: 15px;
        height: 15px;
    }

    .host img {
        width: 32px;
        height: 32px;
    }

    .D_Fiche_logement .tags p {
        font-size: 10px;
    }

    .host p {
        font-size: 12px;
    }

    .D_Fiche_logement .details .collapseComponent {

        margin-bottom: 20px;
    }

    .D_Fiche_logement .details .collapseComponent {
        width: 100%;
    }
}